/*Remoção das margens do corpo do site*/
body {
margin: 0;
}
/*Estilo dos links de navegação*/
.nav {
    position:fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
    background-color: white;
    box-shadow: 0px 0px 7px black;
    padding: 25px 25px 25px 25px;
    z-index: 2;
    top: 0;
    left: 0;
}
.nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
}
.nav li {
    margin-left: 25px;
    font-family: sans-serif;
    font-weight: 750;
    font-size: 20px;
    transform: scale(1);
    transition: all 0.1s;
}
.nav a {
    text-decoration: none;
    color: #0A6622;
    transition: all 0.1s;
}
/*Transição de escala nos links do nav*/
.nav li:hover {
    transform: scale(1.1);
}
/*Transição de cor nos links do nav*/
.nav a:hover {
    color: #059862;
}
.nav .logo img{
    position: absolute;
    left: 30px;
    top: 5px;
    height: 70px;
    width: auto;
}
/*Estilo do Banner do site principal*/
.banner {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
    background-color: #248232;
    padding: 60px 20px;
    margin-top: 77px;
}
.banner h1{
    color: white;
    margin: 0;
    font-family: sans-serif;
    font-size: 60px;
    text-align: center;
    max-width: 1000px;
}
/*Estilo do conteudo da página*/
.cont {
    display:block;
    text-align: center;
    padding: 40px 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
.cont p {
    text-align: justify;
    font-size: 18px;
    margin: 0 auto 0 auto;
    max-width: 1000px;
}
.foot {
    display: block;
    font-family: sans-serif;
    box-sizing: border-box;
    background-color: #248232;
    box-shadow: -2px -1px 10px black;
    padding: 10px;
}
.info {
    padding-left: 300px;
    text-align: left;
    font-family: sans-serif;
    font-weight: 600;
    color: white;
}
.info h4 {
    margin:0;
}
/*Faz a remoção da logo do site a partir de uma resolução de 767px*/
@media (max-width:767px) {
    .logo {display: none;}
}